<footer>
  <div class="container">
    <div class="row gy-md-4">
      <div class="col-md-4 text-center">
        <h3>LOCATION</h3>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
      </div>
      <div class="col-md-4 text-center">
        <h3>AROUND THE WEB</h3>
        <ul class="d-flex justify-content-center list-unstyled">
          <li>
            <i class="fa-brands fa-facebook mt-2"></i>
          </li>
          <li>
            <i class="fa-brands fa-twitter mt-2"></i>
          </li>
          <li>
            <i class="fa-brands fa-linkedin-in mt-2"></i>
          </li>
          <li>
            <i class="fa-solid fa-globe mt-2"></i>
          </li>
        </ul>
      </div>
      <div class="col-md-4 text-center">
        <h3>ABOUT FREELANCER</h3>
        <p>
          Freelance is a free to use, licensed Bootstrap theme created by Route
        </p>
      </div>
    </div>
  </div>
</footer>
<div class="copy text-center pt-2 pb-1 text-white-50">
  <p>Copyright © Your Website 2021</p>
</div>
