<main style="background-color: #1abc9c" class="pt-5 mt-3">
  <section id="home" class="container pt-5 mt-3">
    <figure class="text-center m-0">
      <img [src]="avataaars" alt="avataaars" />
      <figcaption>
        <h1 class="text-uppercase text-white fw-bold py-4 m-0">
          START FRAMEWORK
        </h1>
        <div
          class="line d-flex justify-content-center align-items-center text-center flex-direction-column"
        >
          <div class="lineLeft me-3"></div>
          <div class="star"><i class="fa-solid fa-star"></i></div>
          <div class="lineRight ms-3"></div>
        </div>
        <ul class="m-0 pt-3 pb-5 text-center list-unstyled">
          <li>
            <p class="m-0">Graphic Artist - Web Designer - Illustrator</p>
          </li>
        </ul>
      </figcaption>
    </figure>
  </section>
</main>
